/* Archivo de estilos */

body {
  background-color: #F5F5F5;
}

/* Estilo del título */
#titgeo{
	color: #10157A;
	background-color: #F8ABDC;
	font-family: 'Josefin Sans', sans-serif;
}

/* Estilo del nombre de la asignatura */
#titas{
	color: #0E185F;
	background-color: #8CC0DE; 
	font-family: 'Spline Sans Mono', monospace;
}

/*Estilo del nombre de licenciatura*/ 
#titlic{
	color: 361500;
	background-color: #F4BFBF; 
	font-family: 'Bebas Neue', cursive;
} 

#tabla{
    width: auto;
    height: auto;
}


img.escudo{
  width: 60%;
}

.fondoesc{
	background: #B4ECE3
	/*font-family:;
	font-size:;*/
}

img.cc{
  width: 10%;
}

.header {
  text-align: center;
}

#name {
color: #95A2BD;
font-family: 'Ms Madi', cursive;
font-size: 50px;
}

.name {
color: #95A2BD;
font-family: 'Ms Madi', cursive;
font-size: 20px;
}

div.a {
  text-align: center;
}

.qgiscloud{
  width: 100% !important;
  height: 500px;
}

a:link {
  color: #000000;
}

a:visited {
  color: #F10086;
}

a:hover {
  border-bottom: 1px solid;
  background: #FAD9E6;
}

.links{
background: #E15FED; 
font-family: 'Poppins', sans-serif;	
}
