/* Archivo de estilos */

body {
  background-color: #F5F5F5;
}

/* Estilo del título */
#titgeo{
	color: #10157A;
	background-color: #F2ABF7;
	font-family: 'Montserrat', sans-serif;
}

/* Estilo del nombre de la asignatura */
#titas{
	color: #10157A;
	background-color: #F799D6; 
	font-family: 'Macondo', cursive;
}

/*Estilo del nombre de licenciatura*/ 
#titlic{
	color: #F2ABF7;
	background-color: #10157A; 
	font-family: 'Akshar', sans-serif; 
} 

/* #tabla{
    width: auto;
    height: auto;
} */


img.escudo{
  width: 50%;
}

.fondoesc{
	background: #BDCEF0
	/*font-family:;
	font-size:;*/
}

img.cc{
  width: 10%;
}

.header {
  text-align: center;
}

#name {
color: #95A2BD;
font-family: 'Ms Madi', cursive;
font-size: 50px;
}

.name {
color: #95A2BD;
font-family: 'Ms Madi', cursive;
font-size: 20px;
}

div.a {
  text-align: center;
}

.qgiscloud{
  width: 100% !important;
  height: 500px;
}

a:link {
  color: #070707;
}

a:visited {
  color: #3BACF5;
}

a:hover {
  border-bottom: 1px solid;
  background: #91F2DD;
}

.links{
background: #B907F2; 
font-family: 'Poppins', sans-serif;	
}
